*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: rgb(87, 87, 87);
}
#content{
    padding: 10px;
    height: 100%;
    display: grid;
    grid-template-columns: 240px 1fr 1fr;
    gap: 10px;
}
#sidebar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: gray;
    border-radius: 10px;
}
#sidebarHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#sidebarHeader .newTaskButton{
    font-size: 2em;
}
#sidebarHeader .newTaskButton:hover{
    color: rgb(41, 172, 41);
    cursor: pointer;
}
/* #taskTabs{
} */
#taskTabs .tab{
    height: 20px;
    background-color: white;
    border: 1px solid black;
}
#main{
    background-color: gray;
    grid-column: 2/4;
    border-radius: 10px;
}
#card{
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#cardHeader{
    padding: 10px;
    flex:1;
    background-color: white;
    border-radius: 10px;
}
#cardHeaderCont1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#priorityCont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 4px 10px 4px 10px;
    border-radius: 20px;
    background-color: gray;
}
/* #cardHeaderCont2{

} */
/* .title:active{
    color: red;
} */
/* .editable{
    background-color:gray;
} */
.editable:hover{
    cursor:pointer;
    background-color: rgb(189, 189, 189);
}
#cardMain{
    padding: 10px;
    flex: 4;
    background-color: white;
    border-radius: 10px;
}