*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Flex', sans-serif;
    --background-color:rgb(109, 109, 109);
    --main-color:rgb(201, 201, 201);
    /* --trim-color:; */
    height: 100vh;
    background-color: var(--background-color);
}
#content{
    padding: 10px;
    height: 100%;
    display: grid;
    grid-template-columns: 260px 1fr 1fr;
    gap: 10px;
}
#sidebar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: var(--main-color);
    /* border-radius: 10%; */
}
#sidebarHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#sidebarHeader .newTaskButton{
    font-size: 2em;
}
#sidebarHeader .newTaskButton:hover{
    color: rgb(41, 172, 41);
    cursor: pointer;
}
#taskTabs{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#taskTabs .tab{
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 4px;
    background-color: white;
    /* border: 1px solid black; */
    outline: 2px solid black;
}
#taskTabs .tab:hover{
    cursor: pointer;
}
.tab .tabCont1{
    display: flex;
    justify-content: space-between;
}
.tab .tabCont1 .tabPriority{
    width: 26px;
    height: 26px;
    border-radius: 100%;
    border: 4px solid var(--background-color);
    /* outline: 2px solid var(--background-color); */
    /* background-color: red; */
}
/* .tab .tabCont2{

} */
/* #taskTabs .tab .tabHeading{

} */
#main{
    background-color: var(--main-color);
    grid-column: 2/4;
    /* border-radius: 10px; */
}
#card{
    height: 100%;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(2, 200px);
    gap: 10px;
}
#cardHeader{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    border: 2px solid black;
    /* border-radius: 10px; */
}
#cardHeaderCont1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}
#priorityCont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 10px 4px 10px;
    border-radius: 20px;
    background-color: var(--background-color);
}
/* #priorityForm label{
    color: black;
} */
#priorityForm{
    display: flex;
    align-items: center;
    gap: 3px;
}
input[type='radio']{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    appearance: none;
    background-color: var(--main-color);
}
input[type='radio']:hover{
    cursor: pointer;
    /* border: 2px solid lightblue;
    outline: rgb(104, 104, 228) solid 2px; */
}
/* #criticalInput{
    background-color: rgb(255, 40, 40);
    opacity: 40%;
} */
#criticalInput:checked{
    background-color: red;
}
/* #importantInput{
    background-color: rgb(255, 177, 33);
    opacity: 40%;
} */
#importantInput:checked{
    background-color: orangered;
}
/* #normalInput{
    background-color: rgb(238, 238, 35);
    opacity: 40%;
} */
#normalInput:checked{
    background-color: yellow;
}
/* #finishedInput{
    background-color: rgb(61, 219, 61);
    opacity: 40%;
} */
#finishedInput:checked{
    background-color: greenyellow;
}
/* input[type='radio']:checked{
    background-color: gray;
} */
/* #cardHeaderCont2{

} */
/* .title:active{
    color: red;
} */
/* .editable{
    background-color:gray;
} */
.editable:hover{
    cursor:pointer;
    background-color: rgb(189, 189, 189);
}
#cardHeaderCont2{
    border: 1px solid black;
}
#cardHeaderCont3{
    border: 1px solid black;
}