*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Flex', sans-serif;
    color: white;
    --background-color:rgb(133, 133, 133);
    --main-color:rgb(109, 109, 109);
    --container-color:rgb(77, 77, 77);
    --trim-color:rgb(56, 56, 56);
    --container-radius: 6px;
    height: 100vh;
    background-color: var(--background-color);
}
#content{
    padding: 10px;
    height: 100%;
    display: grid;
    grid-template-columns: 260px 1fr 1fr;
    gap: 10px;
}
/* SIDEBAR */
#sidebar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: var(--container-color);
    border-radius: var(--container-radius);
}
#sidebarHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#sidebarHeader .newTaskButton{
    font-size: 2em;
}
#sidebarHeader .newTaskButton:hover{
    color: rgb(41, 172, 41);
    cursor: pointer;
}
#taskTabs{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#taskTabs .tab{
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 4px;
    background-color: var(--main-color);
    border-radius: var(--container-radius);
    /* outline: 2px solid black; */
}
#taskTabs .tab:hover{
    cursor: pointer;
    outline: 3px solid var(--trim-color);
}
.tab .tabCont1{
    display: flex;
    justify-content: space-between;
}
.tab .tabCont1 .tabPriority{
    width: 26px;
    height: 26px;
    border-radius: 100%;
    border: 4px solid var(--trim-color);
}

/* MAIN */
#main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: var(--container-color);
    grid-column: 2/4;
    border-radius: var(--container-radius);
}
.textEdit{
    /* flex: 1; */
    color: white;
    background-color: var(--container-color);
    outline: none;
    border: none;
}
.card{
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 20px;
    gap: 10px;
    border-radius: var(--container-radius);
    background-color: var(--main-color);
}
.card .deleteButtonCont{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
    grid-row: 1/last-line;
}
.deleteButtonCont .deleteButton{
    height: 20px;
    width: 24px;
    background-color: rgb(190, 51, 51);
    border: none;
    border-radius: 2px;
}
.deleteButtonCont .deleteButton:hover{
    cursor: pointer;
    background-color: rgb(253, 41, 41);
}
/* #newSubTaskButton{

} */
.cardCont1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
}
.priorityCont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 4px 10px 4px 10px;
    border-radius: 20px;
    background-color: var(--trim-color);
}
/* #priorityForm label{
    color: black;
} */
.priorityForm{
    display: flex;
    align-items: center;
    gap: 3px;
}
input[type='radio']{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    appearance: none;
    background-color: var(--main-color);
}
input[type='radio']:hover{
    cursor: pointer;
    /* border: 2px solid lightblue;
    outline: rgb(104, 104, 228) solid 2px; */
}
/* #criticalInput{
    background-color: rgb(255, 40, 40);
    opacity: 40%;
} */
.criticalInput:checked{
    background-color: red;
}
/* #importantInput{
    background-color: rgb(255, 177, 33);
    opacity: 40%;
} */
.importantInput:checked{
    background-color: orangered;
}
/* #normalInput{
    background-color: rgb(238, 238, 35);
    opacity: 40%;
} */
.normalInput:checked{
    background-color: yellow;
}
/* #finishedInput{
    background-color: rgb(61, 219, 61);
    opacity: 40%;
} */
.finishedInput:checked{
    background-color: greenyellow;
}
.cardCont2{
    grid-column: 1/3;
    /* border: 1px solid black; */
}
.cardCont3{
    grid-column: 1/3;
    /* border: 1px solid black; */
}
.title:hover,.dueDate:hover,.description:hover{
    cursor:pointer;
    background-color: rgb(189, 189, 189);
}
/* .editable:hover{
    cursor:pointer;
    background-color: rgb(189, 189, 189);
} */